.hero {
    margin: 0;
    background: none
}

.spacer {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.spacer svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 120px;
    transform: rotateY(180deg);
}

.spacer .shape-fill {
    fill: #7532f9;
}