/* Hero */
.hero {
    background: none
}

.rounded-pill {
    background-color: #14144a;
    border-color: #14144a;
}

.rounded-pill:hover {
    background-color: #141427;
    border-color: #141427;
}

/* About */
.card-bau {
    background-color: #33003b80;
}

.feature {
    animation: feature-spinner 12s ease-in-out infinite reverse;
}

@keyframes feature-spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1080deg);
    }
}

/* Why */
.card-why {
    background: none;
}

.why-list-item {
    background-color: #33003b80;
    border-radius: 0.375rem;
}
/* Process */
.process-card{
    background-color: #33003b80 ;
    border: none;
    position: relative;
}
.process-title{
    position: absolute;
    background-color: #14144a;
    padding: .7rem 1.5rem .7rem .7rem;
    top: -5%;
    left: 10%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
/* HomePage  */
.hp-wrap {
    position: relative;
}

.spacer {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.spacer svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 245px;
    transform: rotateY(180deg);
}

.spacer .shape-fill {
    fill: #531430;
}

.spacer2 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.spacer2 svg {
    position: relative;
    display: block;
    width: calc(202% + 1.3px);
    height: 225px;
    transform: rotateY(180deg);
}

.spacer2 .shape-fill {
    fill: #531430;
}