.footer {
    background: none;
}

.footer-container {
    background-color: #66003B;
}

.footer-end {
    border-top: 1px solid #cc003b;
    width: 25%;
}

.footer-wave {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.footer-wave svg {
    position: relative;
    display: block;
    width: calc(204% + 1.3px);
    height: 204px;
}

.footer-wave .shape-fill {
    fill: #66003B;
}

@media only screen and (max-width: 1210px) {
    .footer-end {
        width: 40%;
    }
}

@media only screen and (max-width: 770px) {
    .footer-end {
        width: 50%;
    }
}