.nav-underline {
    position: relative;
}

.nav-underline::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0px;
    background-color: yellow;
    width: 0;
    transition: all ease-in-out .3s !important;
}

.nav-underline:hover::after {
    width: 100%;
}

.dropdown-menu {
    background-color: #66003b;
}

.navbar-scroll {
    position: relative;
    background: none;
    z-index: 999;
    opacity: 0.8;
}

.navbar-scroll.scrolled {
    position: sticky;
    background-color: #66003b;
    opacity: 1;
    width: 100%;
    top: 0;
    z-index: 999;
}
.logo-img{
    background: none;
    width: 100px;
    height: 30px;
}

/* form{
    position: relative;
}
.btn-search{
    position: absolute;
    right: 30%;
    top: 30%;
    color: gray;
    cursor: text;
} */