.nav-underline {
    position: relative;
}

.nav-underline::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0px;
    background-color: #cc003b;
    width: 0;
    transition: all ease-in-out .3s !important;
}

.nav-underline:hover::after {
    width: 100%;
}

.dropdown-menu {
    background-color: #66003b;
    opacity: 1 !important;
}

.dropdown-item {
    opacity: 1 !important;
    overflow-x: hidden;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #910054;
}

.navbar-scroll {
    position: relative;
    background: none;
    z-index: 999;
    opacity: 0.8;
}

.navbar-scroll.scrolled {
    position: sticky;
    background-color: #66003b;
    opacity: 1;
    width: 100%;
    top: 0;
    z-index: 999;
}

.active::after {
    background-color: #cc003b !important;
    width: 100% !important;
}