@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: Roboto;
}

.wave {
  background: linear-gradient(45deg,
      #00003b,
      #33003b,
      #66003b,
      #99003b,
      #99003b,
      #66003b,
      #33003b,
      #00003b);
  animation: color-wave 10s ease-in-out infinite;
  background-size: 300% 300%;
}

@keyframes color-wave {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}