/* .gallery-wrap {
    margin: 10% auto;
}

.gallery-wrap .btn {
    border-radius: 50%;
    background: none;
    border: none;
}

.gallery {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img {
    width: 350px;
    height: 450px;
    overflow-x: scroll;
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.gallery div img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
} */
* {
    box-sizing: border-box;
}

.gallery-wrap {
    max-width: 800px;
    width: 100%;
    aspect-ratio: 16 / 9;

}

.gallery {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 40px 15px rgba(153, 0, 59, 1);
}

.gallery-image {
    object-fit: cover;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 500ms ease-in-out;
    background: none;
}

.gallery-image-link {
    width: 100%;
    height: 100%;
}

.gallery-image-link img {
    width: 100%;
    height: 100%;
}

.btns {
    z-index: 3;
    border: none;
    transition: background-color 100ms ease-in-out;
    border-radius: 0;
}

.btns:hover {
    background-color: rgba(0, 0, 0, 0.7) !important;
}



.detail-btn {
    z-index: 2;
    width: 100%;
    height: 100%;
}

.mini-card {
    box-shadow: 0px 0px 20px 1px black;
}

.mini-img {
    border-radius: 50%;
    width: 40%;
    box-shadow: 0px 0px 20px 1px black;
}

.mini-link i:hover {
    color: #99003b !important;
}